<nz-layout style="height: 100%" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
  <nz-card  class="botton-form"nz-col nzSpan="20" nzSm="14" nzMd="12" nzLg="8">
    <div nz-row nzType="flex" nzJustify="center">
      <h2>{{ isLogin ? 'Login' : 'Signup' }}</h2>
    </div>
    <form class="form-auth" (ngSubmit)="onSubmit()" nz-form [formGroup]="authForm">
      <nz-form-item *ngFor="let field of FIELDS">
        <nz-form-label [nzFor]="field.name" [nzRequired]="field.required">{{ field.label }}</nz-form-label>
        <nz-form-control>
          <nz-input-group nxPrefixIcon="anticon" anticon-user>
            <input type="text" nz-input [formControlName]="field.name" [placeholder]="field.placeholder">
          </nz-input-group>
          <nz-form-explain *ngIf="authForm.get(field.name).errors && authForm.get(field.name).dirty">{{ authForm.get(field.name).errors | errors }}</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div nz-row nzType="flex" nzJustify="space-between">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
             <a *ngIf="isLogin">Forgot password!</a>
          </div>
          <div nz-row>
              <button [disabled]="authForm.invalid" [nzLoading]="loading | async" class="auth-btn" nz-button nzType="primary">{{ isLogin ? 'Login' : 'Signup' }}</button>
          </div>
          <div nz-row nzType="flex" nzJustify="center">
            <a rol="button" (click)="onChangeAccessMode()">Or {{ isLogin ? 'Register now!' : 'Login!' }}</a>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-alert *ngIf="error" nzType="error" [nzMessage]="error" nzShowIcon></nz-alert>
     </form>
  </nz-card>
</nz-layout>
