<!-- <nz-spin nzSize="large"></nz-spin> -->
<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li *ngFor="let menu of menuList" nz-submenu [nzOpen]="menu.id === urlPaths[1]">
        <span title><i [class]="menu.icon"></i><span class="nav-text">{{ menu.title }}</span></span>
        <ul *ngFor="let childMenu of menu.child">

          <li *ngIf="!childMenu.link" (click)="childMenu.onClick ? childMenu.onClick() : false" nz-menu-item>{{ childMenu.title }}</li>
          <li *ngIf="childMenu.link"
            routerLinkActive="ant-menu-item-selected"
            [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="childMenu.link"
            nz-menu-item>
              {{ childMenu.title }}
            </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout style="height: 100%;">
    <nz-header style="background: #fff; padding:0;"></nz-header>
    <nz-content style="margin:0 16px;">
      <app-breadcumb [breadcumb]="urlPaths"></app-breadcumb>
      <div style="padding:24px; background: #fff;">
        <div style="max-height: calc(100vh - 234px); min-height: calc(100vh - 234px)">
          <router-outlet></router-outlet>
        </div>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">guamatrix ©2018</nz-footer>
  </nz-layout>
</nz-layout>
