<div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
  <nz-card nz-col nzSpan="8">
    <div nz-row nzJustify="center">
      <h3>Change Pass</h3>
    </div>
    <form nz-form (ngSubmit)="onSubmit()" [formGroup]="changePassForm">
      <nz-form-item *ngFor="let field of fields">
        <nz-form-label [nzFor]="field.name" nzRequired>{{ field.label }}</nz-form-label>
        <nz-form-control>
          <nz-input-group nzSize="medium">
            <input type="text" [name]="field.name" [formControlName]="field.name" nz-input [placeholder]="field.placeholder">
          </nz-input-group>
          <nz-form-explain *ngIf="changePassForm.get(field.name).errors && changePassForm.get(field.name).dirty">{{ changePassForm.get(field.name).errors | errors }}</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <div nz-row nzJustify="end" nzType="flex">
          <button type="button" nz-button routerLink="home/todos" nzSize="medium" nzSearch>Cancel</button>
        <button [disabled]="changePassForm.invalid" nzType="primary" type="submit" nzSize="medium" nzSearch>Submit</button>
      </div>
  </form>
</nz-card>
</div>
